<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
 <title>Blog Bthuillier</title>
  <link rel="alternate" href="http://blog.bthuillier.fr/blog"></link>
  <id>http://blog.bthuillier.fr/blog</id>
  <updated>{{ firstBlog.publishedAt|date("Y-m-d\TH:i:sP") }}</updated>
  <author>
    <name>Benjamin Thuillier</name>
    <email>benjaminthuillier@gmail.com</email>
  </author>
  {% for blog in blogs %}
  <entry>
   <title>{{ blog.title }}</title>
   <link href="http://blog.bthuillier.fr/blog/show/{{ blog.slug }}"/>
   <id>{{ blog.slug }}</id>
   <updated>{{ blog.publishedAt|date("Y-m-d\TH:i:sP") }}</updated>
   <summary>{{blog.body | raw }}</summary>
  </entry>
  {% endfor %}
</feed>