{% extends "BthuillierMainBundle:Blog:layout.html.twig" %}
{%block title %}
{{ parent() }}Blog
{% endblock %}
{% block page_name %}Blog posts{%endblock%}
{% block content %}
    {% for blog in blogs %}
        <article>
        <div class="page-header">
            <h2><a href="{{path('bthuillier_main_blog_show', { 'slug': blog.slug })}}">{{blog.title }}</a> <small>Posted on {{ blog.publishedAt|date("F d, Y") }} by {{blog.author.fullname}}</small>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('bthuillier_main_blog_edit', { 'slug': blog.slug })}}" class="btn primary pull-right">Editer</a>
            {% endif %}
            </h2>
        </div>
        {{ blog.body | raw }}
        </article>
    {% endfor %}

{% endblock %}