{% extends "BthuillierMainBundle:Blog:layout.html.twig" %}
{% block page_name %}Blogs{%endblock%}
{% block content %}
<table class="zebra-striped">
    <thead>
        <tr>
            <th>title</th><th>slug</th><th>release date</th><th colspan="2">Actions </th>
        </tr>
    </thead>
    <tbody>
    {% for blog in blogs %}
        <tr>
            <td>{{ blog.title }}</td>
            <td>{{ blog.slug }}</td>
            <td>{{ blog.getPublishedAt().format('d F Y') }}</td>
            <td><a class="btn primary" href="{{path('bthuillier_main_blog_edit', { 'slug': blog.slug })}}">edit</a></td>
            <td><a class="btn danger" href="{{path('bthuillier_main_blog_delete', { 'slug': blog.slug })}}">
                delete
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn success" href="{{path('bthuillier_main_blog_new')}}">New Blog</a>
{% endblock %}