{% extends "BthuillierMainBundle:Blog:layout.html.twig" %}
{%block title %}
{{ parent() }}{{blog.title}}
{% endblock %}
{% block page_name %}
    {{blog.title }} <small>Posted on {{ blog.publishedAt|date("F d, Y") }} by {{blog.author.fullname}}</small>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('bthuillier_main_blog_edit', { 'slug': blog.slug })}}" class="btn primary pull-right">Editer</a>
    {% endif %}

{%endblock%}
{% block content %}
        <article>
        {{ blog.body | raw }}
        </article>
<div class="row">
<div class="span3">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="b_thuillier" data-lang="fr">Tweet</a>
</div>
</div>
<div class="row">
    <div class="span14"><h3>Commenter</h3></div>
</div>
<div class="row">
<div id="disqus_thread" class="span14"></div>
</div>
{% endblock %}
    {% block social %}
<script type="text/javascript">
    var disqus_shortname = 'bthuillier'; // required: replace example with your forum shortname
    {% if app.environment == "dev" %}
    var disqus_developer = 1;
    {% endif %}
    var disqus_identifier = '{{ blog.id}}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
    {% endblock %}