{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="?yui_css" output="css/all.css"
    "@BthuillierMainBundle/Resources/public/less/main.less"
%}
    <link href="{{ asset_url }}" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}
{% block body %}
                
                
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ path('bthuillier_main_main_index')}}">Benjamin Thuillier</a>
          <ul class="nav">
            <li {% block blogMenu %}{% endblock %}><a href="{{ path('bthuillier_main_blog_index')}}">Blog</a></li>
            <li {% block cvMenu %}{% endblock %}><a href="{{path('bthuillier_main_main_cv')}}">CV</a></li>
            <li {% block contactMenu %}{% endblock %}><a href="{{path('bthuillier_main_main_contact')}}">Contact</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li {% block profilMenu %}{%endblock %}><a href="{{path('bthuillier_main_user_index')}}">Mon Profile</a></li>
            {% endif %}
          </ul>
          <div class="pull-right">
          <ul class="nav ">
            <li><a class="social-link" href="{{path('bthuillier_main_blog_feed',{ '_format': 'xml' })}}"><img src="{{ asset('bundles/bthuilliermain/images/social/rss.png') }}" alt="Atom" /></a></li>
            <li><a class="social-link" href="http://fr.linkedin.com/pub/benjamin-thuillier/30/350/2a0"><img src="{{ asset('bundles/bthuilliermain/images/social/linkedin.png') }}" alt="Symfony!" /></a></li>
            <li><a class="social-link" href="http://twitter.com/b_thuillier"><img src="{{ asset('bundles/bthuilliermain/images/social/twitter.png') }}" alt="Symfony!" /></a></li>          
            <li><a class="social-link" href="http://www.facebook.com/bethuillier"><img src="{{ asset('bundles/bthuilliermain/images/social/facebook.png') }}" alt="Symfony!" /></a></li>
            <li><a class="social-link" href="http://www.viadeo.com/fr/profile/benjamin.thuillier"><img src="{{ asset('bundles/bthuilliermain/images/social/icone-viadeo.png') }}" alt="Symfony!" /></a></li>
          </ul>
</div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>{% block page_name %}{%endblock%} <small>{% block page_description %}{%endblock%}</small></h1>
        </div>
        <div class="row">
          <div class="span16">
                {% block content %}
                {%endblock%}                
          </div>
        </div>
      </div>

      <footer>
        <p>2011 - Powered by <a href="http://symfony.com/">Symfony2</a>, <a href="http://www.doctrine-project.org/docs/mongodb_odm/1.0/en/">Doctrine</a>, <a href="http://www.mongodb.org/">MongoDB</a>, <a href="http://lesscss.org/">Less</a> and <a href="http://twitter.github.com/bootstrap/">twitter-bootstrap</a>. Fork me on <a href="https://github.com/bthuillier/Homesite">Github</a>.</p>
      </footer>

    </div> <!-- /container -->

{% javascripts filter="?yui_js"
    '@BthuillierMainBundle/Resources/public/js/jquery.js'
    '@BthuillierMainBundle/Resources/public/js/*.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
//$(window).ready(accordion.CV.bind);
{% if app.environment != "dev" %}    
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27720114-1']);
  _gaq.push(['_setDomainName', 'bthuillier.fr']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
{% endif %}
</script>
    {% block social %}
    {% endblock %}
{% endblock %}
