{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="?yui_css" output="css/all.css"
    "@BthuillierMainBundle/Resources/public/less/main.less"
%}
    <link href="{{ asset_url }}" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}
{% block body %}
                
                
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Benjamin Thuillier</a>
          <ul class="nav">
            <li {% block blogMenu %}{% endblock %}><a href="{{ path('bthuillier_main_blog_index')}}">Blog</a></li>
            <li {% block cvMenu %}{% endblock %}><a href="{{path('bthuillier_main_main_cv')}}">CV</a></li>
            <li {% block contactMenu %}{% endblock %}><a href="{{path('bthuillier_main_main_contact')}}">Contact</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li {% block profilMenu %}{%endblock %}><a href="{{path('bthuillier_main_user_index')}}">Mon Profile</a></li>
            {% endif %}
          </ul>
          <span class="pull-right">
          <ul class="nav">
            <li><a class="social-link" href="http://fr.linkedin.com/pub/benjamin-thuillier/30/350/2a0"><img src="{{ asset('bundles/bthuilliermain/images/social/linkedin.png') }}" alt="Symfony!" /></a></li>
            <li><a class="social-link" href="http://twitter.com/b_thuillier"><img src="{{ asset('bundles/bthuilliermain/images/social/twitter.png') }}" alt="Symfony!" /></a></li>          
            <li><a class="social-link" href="http://www.facebook.com/bethuillier"><img src="{{ asset('bundles/bthuilliermain/images/social/facebook.png') }}" alt="Symfony!" /></a></li>
            <li><a class="social-link" href="http://www.viadeo.com/fr/profile/benjamin.thuillier"><img src="{{ asset('bundles/bthuilliermain/images/social/icone-viadeo.png') }}" alt="Symfony!" /></a></li>
          </ul>
        </span>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>{% block page_name %}{%endblock%} <small>{% block page_description %}{%endblock%}</small></h1>
        </div>
        <div class="row">
          <div class="span14">
                {% block content %}
                {%endblock%}                
          </div>
        </div>
      </div>

      <footer>
        <p>2011 - Powered by <a href="http://symfony.com/">Symfony2</a>, <a href="http://www.doctrine-project.org/docs/mongodb_odm/1.0/en/">Doctrine</a>, <a href="http://www.mongodb.org/">MongoDB</a>, <a href="http://lesscss.org/">Less</a> and <a href="http://twitter.github.com/bootstrap/">twitter-bootstrap</a>. Fork me on <a href="https://github.com/bthuillier/Homesite">Github</a>.</p>
      </footer>

    </div> <!-- /container -->

{% javascripts filter="?yui_js"
    '@BthuillierMainBundle/Resources/public/js/jquery.js'
    '@BthuillierMainBundle/Resources/public/js/*.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
 <script type="text/javascript">
$(window).load(accordion.CV.bind);
    </script>
    {% block social %}
    {% endblock %}
{% endblock %}
