{% extends "BthuillierMainBundle::layout.html.twig" %}
{% block page_name %}Login{%endblock%}
{% block content %}

    {% if error %}
        <section id="alerts">
            <div class="alert-message error">
            <a class="close" href="#">&times;</a>
                <p>{{ error }}</p>
            </div>
        </section>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="row">
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        
        <div class="row">
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />
        </div><div class="row">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
{% endblock %}